@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$primary-color: #0d92cc;
$text-color: #3d3d3c;
$gold-color: #faba19;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
  color: $text-color;
  line-height: 1.6;
  height: 100%;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: $primary-color;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  border: 0;
  background: $primary-color;
  color: #fff;
  padding: 1rem 3rem;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 5px 5px 5px black;

  a {
    width: 100%;
    height: 100%;
  }
}

.btn:hover {
  background: rgba($color: #2f618b, $alpha: 1);
}

.container {
  position: relative;
  width: 80%;
  //   height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

section {
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  color: $gold-color;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  z-index: 0;
}

.email-input::placeholder {
  padding-left: 1rem;
  font-style: italic;
}

.countdown-box {
  background: rgba(white, 0.3);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  //   background: rgba($color: white, $alpha: 0.5);
  font-size: 2rem;
  width: 100%;
  height: 5vh;
  z-index: 2;
  h3 {
    font-weight: 200;
    margin-right: 1rem;
  }
  #countdown {
    font-weight: 600;
  }
}

@import "showcase";
@import "content";
@import "footer";
@import "mobile";
